@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");



:root {
  // COLORS
  --pink: #ff7272;
  --primary-white: #b2b2b2;
  --secondary-white: #595959;
  // SHADOW
  --primary-shadow: 17px 13px 94px -28px rgba(255, 255, 255, 0.25);
  --black-shadow: 10px 10px 19px -11px rgba(0,0,0,0.75);
  // FONT
  --primary-font: 'Sen';

}
