@import "../styles/var.scss";

.home {
  margin-left: -1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;



  h1 {
    font-size: 3em;
    color: #ff7272;

    @media (max-width: 985px) {
      .linebreak::after {
        content: "\A";
        white-space: pre;
      }
    }

    @media (max-width: 800px) {
      font-size: 2.5em;
      margin: 0 0 1em ;
    }

    @media (max-width: 500px) {
      font-size: 2.2em;
      text-align: center;
    }
    .headAccent {
      position: relative;
    }

    .headAccent::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 37%;
      bottom: 18%;
      left: 0;
      right: 0;
      background-color: #fff;
    }
  }

  h2 {
    color: lighten($color: #222222, $amount: 80);
    font-size: 9em;

    @media (max-width: 650px) {
      font-size: 6em;
    }

    @media (max-width: 500px) {
      text-align: center;
    }
  }


}

.info {
  position: relative;
  padding: 1.5rem 0;
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 80%;
  font-size: 1.1em;
  line-height: 1.5;
  height: 100%;
  transform-origin: top;
  color: var(--primary-white);

  @media (max-width: 800px) {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.2em;
  }

  a {
    color: var(--pink);
    text-decoration: none;
    font-weight: bold;
  }


}
