.first {
  position: relative;
}

// Mobile NAV
.burgerIcon {
  position: absolute;
  top: 1.85rem;
  right: 2rem;
  display: none;
  cursor: pointer;
  color: var(--pink);
  font-size: 2em;
  opacity: 0.5;
  transition: all 0.1s ease-in;

  &:hover {
    transform: rotate(180deg);
    opacity: 1;
  }

  @media (max-width: 900px) {
    display: block;
  }
}

.burger {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.17' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

  .container {
    max-width: 70%;
    margin: 0 auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 !important;
  }

  li {
    list-style-type: none;
    margin: 2rem 0;
    font-size: 2rem;
  }

  .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.2rem;
    color: var(--pink);
  }
}
